name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

      
    - name: FTP Cache
      uses: simonrenger/ftp-cache@v2
      with:
        # FTP or SFTP
        type: FTP
        # Host
        host: ftp://74.213.107.126
        # Upload,Download,Remove
        mode: Upload
        # User
        user: Administrator
        # Password
        password: Abc1234@server
        # Source Folder
        source: /
        # Destination Folder
        destination: ABC_WEB/pocketdb
        # Is Connection Secure? (Only relevant for FTP)
        secure: false
        # timeout Folder
        # timeout: # optional, default is 30000
        # Cache Name. Needed if archive = true
        # archive-name: # optional
        # Creates a tar archive for the given folder and uploads/downloads that
        # archive: # optional, default is true
          

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
